<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.KnowledgeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Knowledge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="kid" jdbcType="VARCHAR" property="kid" />
    <result column="knowledge_type" jdbcType="VARCHAR" property="knowledgeType" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
</mapper>