<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="fpid" jdbcType="VARCHAR" property="fpid" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mean_transaction" jdbcType="VARCHAR" property="meanTransaction" />
    <result column="source_destination" jdbcType="VARCHAR" property="sourceDestination" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="income_time" jdbcType="TIMESTAMP" property="incomeTime" />
  </resultMap>
</mapper>