<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Sid" jdbcType="VARCHAR" property="sid" />
    <result column="Sno" jdbcType="VARCHAR" property="sno" />
    <result column="Sname" jdbcType="VARCHAR" property="sname" />
  </resultMap>


</mapper>