<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserHoldMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UserHold">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uhid" jdbcType="VARCHAR" property="uhid" />
    <result column="fpid" jdbcType="VARCHAR" property="fpid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="hold_money" jdbcType="DOUBLE" property="holdMoney" />
    <result column="yesterday_income" jdbcType="DOUBLE" property="yesterdayIncome" />
    <result column="sum_income" jdbcType="DOUBLE" property="sumIncome" />
  </resultMap>

  <resultMap id="UserHoldAndNameMap" type="com.company.project.model.UserHoldAndName">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uhid" jdbcType="VARCHAR" property="uhid" />
    <result column="fpid" jdbcType="VARCHAR" property="fpid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="hold_money" jdbcType="DOUBLE" property="holdMoney" />
    <result column="yesterday_income" jdbcType="DOUBLE" property="yesterdayIncome" />
    <result column="sum_income" jdbcType="DOUBLE" property="sumIncome" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
  </resultMap>



  <select id="selectByUid"  resultMap="UserHoldAndNameMap">
    select uh.uhid,uh.fpid,uh.uid,uh.hold_money,uh.yesterday_income,uh.sum_income,fp.product_name
    from user_hold uh
    LEFT OUTER JOIN finance_product fp on fp.fpid = uh.fpid
    where uh.uid =#{uid}
  </select>


  <select id="selectByUidAndFpid"  resultMap="BaseResultMap" >
     select * from user_hold where uid=#{uid} and fpid=#{fpid}
  </select>


</mapper>